@model dynamic

<div class="panel panel-default">
<div class="panel-heading">
    <div class="row">
        <div class="col-md-2"><button type="Button" id="Export">Export to CSV</button></div>
        <div class="col-md-6">Show Data for
        <select id="DateFilter">
            <option value="0" selected>Today</option>
            <option value="1">This Week</option>
            <option value="2">This Month</option>
            <option value="3">Last 3 Months</option>
            <option value="4">Last 6 Months</option>
        </select>
        </div>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th data-field="id">User</th>
                <th data-field="id">Email</th>
                <th data-field="name">MLS#</th>
                <th data-field="price">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) { 
            <tr>
                <td>@item.User</td>
                <td>@item.Email</td>
                <td>@item.MLSNumber</td>
                <td>@item.Created</td>
            </tr>
            }
        </tbody>
    </table>
</div>
    @section scripts {
<script>
    $(
        function () {
            $("#Export").click(function () {
                var dateFilter = $("#DateFilter").val();
                window.location = "/home?DateFilter=" + dateFilter + "&csv=true";
            });

            $("#DateFilter").change(function () {
                var dateFilter = $("#DateFilter").val();
                window.location = "/home?DateFilter=" + dateFilter;
            });
        });
</script>
}