<div class="panel panel-default">
<div class="panel-heading">
    <div class="row">
        <div class="col-md-2"><button>Export to CSV</button></div>
        <div class="col-md-6">Show Data for
        <select>
            <option>Today</option>
            <option>Current Week</option>
            <option>Current Month</option>
            <option>Last 3 Months</option>
        </select>
        </div>
    </div>
</div>